body{
	height: 1000px;
}
#header-nav{
	height: 200px;
	box-shadow: 2px solid black;
	background: linear-gradient(90deg, rgba(109,232,11,1) 0%, rgba(250,255,0,0.9504844173997724) 51%, rgba(255,191,0,1) 100%);
	background-position: center;
	border:0;
}
#title{
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 50px;
	margin-top: 60px;
}
#quote{
	background-color: #000;
	color: white;
	margin-top:-20px;
	margin-bottom: 15px;
	padding-top:5px;	
	font-family: 'Lobster', cursive;
	height: 40px;
	font-size: 1.3em;
	border: 2px solid black;
	text-align: center;
}
.main_header {
  width: 0vw;
  height: 0vh;
  display: grid;
  margin-left: 560px;
  margin-bottom: 0;
}
.main_header1 {
  width: 0vw;
  height: 0vh;
  display: grid;
  margin-left: 696px;
  margin-bottom:0;
}
.center-div {
  width: 1rem;
  height: 1rem;
  background-color: red;
  position: relative;
  transform: rotate(45deg);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  animation: hbeat 1s linear infinite;
}
.center-div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}
.center-div::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
}

@keyframes hbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  20% {
    transform: rotate(45deg) scale(1);
  }
  40% {
    transform: rotate(45deg) scale(1.4);
  }
  60% {
    transform: rotate(45deg) scale(1.2);
  }
  80% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

#mood{
	background: linear-gradient(to bottom right, #ffff00 0%, #ff6600 100%);
	color: black;
	margin-top:-17px;
	margin-bottom: 15px;
	padding-top:5px;	
	font-family: 'Lobster', cursive;
	height: 40px;
	font-size: 1.3em;
	text-align: center;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #777;
}
.sub-genre{
	width: 100%;
	height: 250px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	font-family: 'Anton', sans-serif;
	text-align: center;
	border:2px solid black;
	color: black;
	font-size: 30px;
	padding-top: 75px;
	border-radius: 10px;
	overflow: hidden;
	padding: 0px;
}
.sub-genre span{
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 100%;
	background-color: #000;
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
	color: #fff;
	opacity: 80%;
}
.sub-genre:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#EDM{
	background: url('../images/edm.jpg')no-repeat;
	background-position: center;
}
#pop{
	background: url('../images/pop.jpg')no-repeat;
	background-position: center;
}
#hiphop{
	background: url('../images/hip.jpg')no-repeat;
	background-position: center;
}
#bolly{
	background: url('../images/bolly.jpg')no-repeat;
	background-position: center;
}
#rom{
	background: url('../images/rom.jpg')no-repeat;
	background-position: center;
}#rock{
	background: url('../images/rock.jpg')no-repeat;
	background-position: center;
}



/*-------------------------------------------Media query----------------------------------------*/

@media(min-width: 1200px){
	
}


/*-----------------------------------------Medium devices----------------------------------------*/
@media(min-width: 992px) and (max-width: 1199px){
	
}


/*-----------------------------------------Small devices----------------------------------------*/
@media(min-width: 768px) and (max-width: 991px){
	#quote{
		font-size: 0.8em;
		padding-top: 7px;

	}
}


/*-----------------------------------------X-small devices----------------------------------------*/
@media(max-width: 767px){
	#quote{
		font-size: 0.8em;
		padding-top: 7px;
	}
}


/*-----------------------------------------XX small devices----------------------------------------*/
@media (max-width: 492px){
	#quote{
		font-size: 0.8em;
		padding-top: 7px;
	}
}