body{
	background: linear-gradient(to bottom, #000066 0%, #000000 100%);
}
#header-nav{
	height: 200px;
	box-shadow: 2px solid black;
    background: url('../images/top2.png')no-repeat;
	background-position: center;
	border:0;
}
#title{
	text-align: center;
	font-family: 'Courgette', cursive;
	text-shadow: 3px 3px 4px black, 0 0 25px black, 0 0 5px black;
	font-weight: bolder;
	color: white;
	font-size: 80px;
	margin-top: 40px;
}
#quote{
	background-color: #000;
	color: white;
	margin-top:-20px;
	margin-bottom: 15px;
	padding-top:5px;	
	font-family: 'Lobster', cursive;
	height: 40px;
	font-size: 1.3em;
	border: 2px solid black;
	text-align: center;
}
.quot2{
	font-family: 'Lobster', cursive;
	color: white;
	font-weight: bolder;
	font-size: 1.5em;
	margin-top: 10px;
	margin-bottom: 10px;
}
.main_header {
  width: 0vw;
  height: 0vh;
  display: grid;
  margin-left: 560px;
  margin-bottom: 0;
}
.main_header1 {
  width: 0vw;
  height: 0vh;
  display: grid;
  margin-left: 696px;
  margin-bottom:0;
}
.center-div {
  width: 1rem;
  height: 1rem;
  background-color: red;
  position: relative;
  transform: rotate(45deg);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072);
  animation: hbeat 1s linear infinite;
}
.center-div::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translateY(-50%);
}
.center-div::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%);
}

@keyframes hbeat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  20% {
    transform: rotate(45deg) scale(1);
  }
  40% {
    transform: rotate(45deg) scale(1.4);
  }
  60% {
    transform: rotate(45deg) scale(1.2);
  }
  80% {
    transform: rotate(45deg) scale(1.4);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}

#mood{
	background: linear-gradient(to bottom right, #ffff00 0%, #ff6600 100%);
	color: black;
	margin-top:-17px;
	margin-bottom: 15px;
	padding-top:5px;	
	font-family: 'Lobster', cursive;
	height: 40px;
	font-size: 1.3em;
	text-align: center;
}
div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
div.scrollmenu a:hover {
  background-color: #777;
}
.sub-genre{
	width: 100%;
	height: 250px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	font-family: 'Anton', sans-serif;
	text-align: center;
	border:2px solid black;
	color: black;
	font-size: 30px;
	padding-top: 75px;
	border-radius: 10px;
	overflow: hidden;
	padding: 0px;
}
.sub-genre span{
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 100%;
	background-color: #000;
	text-align: center;
	font-size: 1.5em;
	font-weight: bolder;
	color: #fff;
	opacity: 80%;
}
.sub-genre:hover {
  box-shadow: 0 6px 6px 6px #fff;
}
#love{
	background: url('../images/rom.jpeg')no-repeat;
	background-position: center;
	background-size: 360px 300px;
}
#mot{
	background: url('../images/mot.jpeg')no-repeat;
	background-position: top;
	background-size: 360px 190px;
}
#calm{
	background: url('../images/cal.jpeg')no-repeat;
	background-position: center;
	background-size: 360px 300px;
}
#party{
	background: url('../images/par.jpeg')no-repeat;
	background-position: left;
	background-size: 360px 250px;
}
#heartb{
	background: url('../images/heab.jpeg')no-repeat;
	background-position:left;
	background-size: 360px 250px;
}#higher{
	background: url('../images/hgr.jpeg')no-repeat;
	background-position: top;
	background-size: 360px 240px;
}

footer{
	background-color: #303030;
	height:100px;
	color: white;
}
#link{
	padding-top:40px;
	font-family: 'Anton', sans-serif;
}




/*-------------------------------------------The mood section------------------------------------*/

#mood-bar{
	background: linear-gradient(to bottom right, #ffff00 0%, #ff6600 100%);
}
#quot{
	background-color: #000;
	color: white;
	margin-top:-20px;
	padding-top:5px;	
	font-family: 'Lobster', cursive;
	height: 40px;
	font-size: 1.3em;
	border: 2px solid black;
	text-align: center;
}
.sub-mood{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
	margin-top: 15px;
	position: relative;
	font-family: 'Lobster', cursive;
	text-align: center;
	border:2px solid red;
	background-color: black;
	color: white;
	font-size: 20px;
	padding-top: 1000px;
	border-radius: 10px;
	overflow: hidden;
	padding: 0px;
}
.sub-mood span{
	position: absolute;
	right: 0;
	width: 100%;
	padding-top: 8px;
	text-align: center;
	font-size: 1em;
	font-weight: bolder;
}
.sub-mood:hover {
  box-shadow: 0 5px 6px 5px #fff;
}
#luv{
	/*background: linear-gradient(to right, #ffff00 0%, #ff0000 100%);*/
	background-color: black;
	background-position: center;
}
#motivational{
	/*background: linear-gradient(to top left, #ffff00 0%, #00ff00 100%);*/
	background-color: black;
	background-position: top;
}
#partayyy{
	/*background: linear-gradient(to top right, #ff66cc 0%, #3333ff 100%);*/
	background-color: black;
	background-position: center;
}
#heart{
	/*background: linear-gradient(to bottom left, #cc00ff 22%, #ff3300 107%);*/
	background-color: black;
	background-position: left;
}
#cam{
	/*background: linear-gradient(to bottom left, #ffff00 0%, #ff00ff 100%);*/
	background-color: black;
	background-position:left;
}#hground{
	/*background: linear-gradient(to top left, #ffff00 0%, #66ffff 100%);*/
	background-color: black;
	background-position: top;
}

/*-------------------------------------------Song module----------------------------------------*/


#song-module{
	border:2px solid black;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
    background-color: red;
    animation-name: example;
    animation-duration: 15s;
	animation-iteration-count: infinite;
}
#art{
	margin-top: 15px;
	border-radius: 10px;
	height:150px;
	width: 150px;
	border:2px solid black;
}
#song-name{
	margin-left: 170px;
	margin-top: -150px;
	height: 40px;
	width: 50%;
	padding-top: 7px;
	padding-left: 15px;
	font-family: 'Courgette', cursive;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px black, 0 0 1px black, 0 0 1px black;
	border-radius: 50px;
	border:2px solid black;
	float:left;
}
#artist{
	margin-left: 170px;
	margin-top: -105px;
	height: 40px;
	padding-top: 7px;
	font-size: 1.3em;
	text-shadow: 1px 1px 1px black, 0 0 1px black, 0 0 1px black;
	padding-left: 15px;
	font-family: 'Courgette', cursive;
	width: 50%;
	border-radius: 50px;
	border:2px solid black;
	float:left;
}
#audio-con{
	margin-left: 170px;
	margin-top: -65px;
	height: 60px;
	padding-top: 7px;
	padding-left:0;
	width: 50%;
	border-radius: 10px;
	float:left;
}
#select{
	margin-top: 15px;
	font-family: 'Courgette', cursive;
	text-shadow: 1px 1px 1px black, 0 0 1px black, 0 0 1px black;
	font-size: 1.5em;
	margin-bottom: 5px;
}
#fdd{
	margin-left: 170px;
	margin-top: -100px;
	height: 60px;
	padding-top: 7px;
	text-shadow: 1px 1px 1px black, 0 0 1px black, 0 0 1px black;
	padding-left:0;
	width: 50%;
	border-radius: 50px;
	border:2px solid black;
	float:left;
	outline: none;
}
#fdd:hover{
	box-shadow: 0 4px 11px 5px white;
}


@keyframes example {
  0%   {background: linear-gradient(to top right, #ff66cc 0%, #ff5050 100%);}
  25%  {background: linear-gradient(to top left, #66ff33 0%, #ffff00 100%);}
  50%  {background: linear-gradient(to top left, #ffff00 0%, #66ffff 100%);}
  100% {background: linear-gradient(to top right, #ff33cc 0%, #66ccff 100%);}
}



/*-------------------------------------------Media query----------------------------------------*/

@media(min-width: 1200px){
	
}


/*-----------------------------------------Medium devices----------------------------------------*/
@media(min-width: 992px) and (max-width: 1199px){
	
}


/*-----------------------------------------Small devices----------------------------------------*/
@media(min-width: 768px) and (max-width: 991px){
	#quote{
		font-size: 0.5em;
		padding-top: 7px;
	}
	#quot{
		font-size: 0.5em;
		padding-top: 7px;
	}
	#title{
		font-size: 4em;
	}
}


/*-----------------------------------------X-small devices----------------------------------------*/
@media(max-width: 767px){
	#quote{
		font-size: 0.5em;
		padding-top: 7px;
	}
	#quot{
		font-size: 0.5em;
		padding-top: 7px;
	}
	#title{
		font-size: 4em;
	}
}


/*-----------------------------------------XX small devices----------------------------------------*/
@media (max-width: 492px){
	#quote{
		font-size: 0.5em;
		padding-top: 7px;
	}
	#quot{
		font-size: 0.8em;
		padding-top: 7px;
	}
	#title{
		font-size: 4em;
	}
}